@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims;
@using System.Web;
@using Microsoft.AspNetCore.Mvc;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ULDeneme.UI.MVC</title>


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ULDeneme.UI.MVC.styles.css" asp-append-version="true" />
    <link href="css/styles.css" rel="stylesheet" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MioLingo - @User.Identity.Name</a>
                }
                else
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MioLingo</a>
                }
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Privacy", "Home")">Privacy</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            var claimsIdentity = User.Identity as ClaimsIdentity;
                            if (claimsIdentity.Claims.Any(x => x.Type == ClaimTypes.Role && x.Value == "Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Index", "TranslationType")">Çeviri Türlerim</a>
                                </li>
                            }
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            var claimsIdentity = User.Identity as ClaimsIdentity;
                            if (claimsIdentity.Claims.Any(x => x.Type == ClaimTypes.Role))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Index", "Sozluk")">Sözlük Ekle/Düzenle</a>
                                </li>
                            }
                        }
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item" style="display:@(User.Identity.IsAuthenticated==true ? "none" : "block")">
                            <a class="nav-link" href="@Url.Action("Index", "Login")">Log in</a>
                        </li>
                        <li class="nav-item" style="display:@(User.Identity.IsAuthenticated==true ? "block" : "none")">
                            <a class="nav-link" href="@Url.Action("Index", "Logout")">Log out</a>
                        </li>
                        <li class="nav-item" style="display:@(User.Identity.IsAuthenticated ? "none" : "block")">
                            <a class="nav-link" href="@Url.Action("Index", "Signup")">Signup</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="wrapper">
        <div class="container-fluid">
            <!--Sidebar-->
            <div class="row">
                <div class="col-md-2 order-md-1">
                    <div class="sidebar-toggler-wrapper">
                        <button id="sidebar-toggler" class="navbar-toggler sidebar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu"
                                aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>

                    <nav id="sidebarMenu" class="sidebar-sticky collapse">
                        <table class="table table-borderless table-responsive-md">
                            <tbody>
                                <tr>
                                    <td class="py-2">
                                        <a class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                                            <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Hoş Geldiniz</span>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="py-2" style="display:@(User.Identity.IsAuthenticated==true ? "block":"none")">
                                        <a asp-controller="Sozluk" asp-action="UsersSozluks" class="list-group-item list-group-item-action py-2 ripple active sozluklerim">
                                            <i class="fas fa-chart-area fa-fw me-3"></i><span>Sözlüklerim</span>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="py-2">
                                        <a asp-controller="Sozluk" asp-action="AdminsSozluks" asp-route-ThemeID="1" class="list-group-item list-group-item-action py-2 ripple">
                                            <i class="fas fa-lock fa-fw me-3"></i><span>Dizi Sözlükleri</span>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="py-2">
                                        <a asp-controller="Sozluk" asp-action="AdminsSozluks" asp-route-ThemeID="2" class="list-group-item list-group-item-action py-2 ripple">
                                            <i class="fas fa-chart-line fa-fw me-3"></i><span>Film Sözlükleri</span>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="py-2">
                                        <a asp-controller="Sozluk" asp-action="AdminsSozluks" asp-route-ThemeID="3" class="list-group-item list-group-item-action py-2 ripple">
                                            <i class="fas fa-chart-pie fa-fw me-3"></i><span>Mesleki Sözlükler</span>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="py-2">
                                        <a asp-controller="Sozluk" asp-action="AdminsSozluks" asp-route-ThemeID="4" class="list-group-item list-group-item-action py-2 ripple">
                                            <i class="fas fa-chart-pie fa-fw me-3"></i><span>Seviye Sözlükleri</span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </nav>
                </div>



                <div class="col-md-10">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>

            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - MioLingo - GitHup <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $('#navbar-toggler').on('click', function () {
                $('.navbar-collapse').slideToggle(300, function () {
                    if ($(this).is(':visible')) {
                        $(this).css('display', 'flex');
                    }
                });
            });
        });

        $(document).ready(function () {
            $('#sidebar-toggler').on('click', function () {
                $(this).toggleClass('active');
                $('#sidebarMenu').toggleClass('show');
            });

            $('.nav-item').off('click');

            $('.sidebar-toggle').css('visibility', 'hidden');

            $('#sidebarMenu .nav-link').on('click', function () {
                $('#sidebar-toggler').addClass('active');
                $('#sidebarMenu').removeClass('show');
                $('.sidebar-toggle').css('visibility', 'visible');
            });

            $('#sidebarMenu').on('hidden.bs.collapse', function () {
                $('.sidebar-toggle').css('visibility', 'hidden');
            });
        });
    </script>
</body>
</html>
