@model ULDeneme.ViewModel.VocabularyViewModels.VocabularyViewModel

<style>
    #createForm {
        display: block;
    }

    #updateForm {
        display: none;
    }
</style>

<h1>@ViewData["Title"]</h1>
<h3>@ViewData["TranslationTypeName"]</h3>
<div id="createForm">
    @Html.Partial("Create", new ULDeneme.ViewModel.VocabularyViewModels.VocabularyCreateVM())
</div>

<div id="updateForm">
    @Html.Partial("Update", new ULDeneme.ViewModel.VocabularyViewModels.VocabularyUpdateVM())
</div>

<div class="row">
    <div class="col-12 col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UnKVoc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.KVoc)
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.VocabularyList)
                {
                    <tr>
                        <td>
                            <button type="button" onclick="textToSpeech('@item.UnKVoc', '@ViewBag.UnknownLangShort')" style="border: none; background: transparent; outline: none;"><i class='fas fa-volume-down' style='font-size:16px;color:cornflowerblue'></i></button>
                            @Html.DisplayFor(modelItem => item.UnKVoc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.KVoc)
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" onclick="openUpdateView('@item.ID', '@ViewBag.SozlukID')">Edit</a>
                        </td>
                        <td>
                            <a class="btn btn-danger btn-sm" onclick="openDeleteView('@item.ID')">Delete</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-12 col-md-4"></div>
</div>


<script>
    function openCreateView() {
        $('#createForm').show();
        $('#updateForm').hide();
        clearFormFields();
    }

    function openUpdateView(id, sozlukID) {
        if (!id) {
            alert("Please select a vocabulary to update.");
            return;
        }
        $.ajax({
            type: "GET",
            url: "/Vocabulary/Update",
            data: { id: id, sozlukID: sozlukID },
            success: function (data) {
                $('#createForm').hide();
                $('#updateForm').html(data);
                $('#updateForm').show();
            },
            error: function (result) {
                console.log(result);
            }
        });
    }

    function openDeleteView(id) {
        if (confirm("Are you sure you want to delete this vocabulary?")) {
            $.ajax({
                type: "POST",
                url: "/Vocabulary/Delete",
                data: { id: id },
                success: function (result) {
                    location.reload();
                },
                error: function (result) {
                    console.log(result);
                }
            });
        }
    }

    async function textToSpeech(text, language) {

        if (text.length > 0) {
            const response = await fetch("/api/Speech/synthesize", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ text: text, language: language })
            });

            if (response.ok) {
                const audioData = await response.arrayBuffer();
                const audioBlob = new Blob([audioData], { type: "audio/mp3" });
                const audioUrl = URL.createObjectURL(audioBlob);
                const audio = new Audio(audioUrl);
                audio.play();
            } else {
                console.error("Speech synthesis failed:", await response.text());
            }
        }
    }
</script>
