@model ULDeneme.ViewModel.SozlukViewModels.UsersSozluksViewModel
@using ULDeneme.Model.Enums

@functions {
    public string GetThemeName(int themeId)
    {
        return Enum.GetName(typeof(Theme), themeId);
    }
}

<h3 class="pt-2">@GetThemeName(Model.ThemeID) Sözlükleri</h3>

<form id="sozlukForm" asp-action="AdminsSozluks" asp-controller="Sozluk" method="post">
    <div class="form-group col">
        <div class="row">
            <div class="col-5 pt-2">
                <select class="form-control" id="sel1" asp-for="TranslationTypeID" asp-items="@ViewBag.TranslationTypes">
                    <option value="0" disabled selected>Çeviri Türü Seçiniz</option>
                </select>
                <span asp-validation-for="TranslationTypeID" class="text-danger"></span>
            </div>
            <div class="col-2 d-flex align-items-center pt-2">
                <input type="hidden" asp-for="ThemeID" value="@Model.ThemeID" />
                <button type="submit" class="btn btn-primary w-100 d-block justify-content-center">
                    Getir
                </button>
            </div>
        </div>
    </div>
</form>
<div class="col-lg-9 col-md-1* col-sm-12">
    @if (Model.Sozluks != null)
    {
        <table class="table ">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Desc.</th>
                    <th>Translation</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Sozluks)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>@item.TranslationType.UnknownLangShort-@item.TranslationType.KnownLangShort</td>
                        <td>
                            <a class="btn" asp-action="AdminSozluksVoc" asp-controller="Vocabulary" asp-route-sozlukID="@item.ID">
                                <i class="fas fa-eye" style="color: dodgerblue; font-size: 24px;"></i>
                            </a>
                        </td>
                        <td>
                            <a class="btn" asp-action="Learn" asp-controller="QuizTest" asp-route-sozlukID="@item.ID">
                                <i class="fas fa-clipboard-list" style="color: mediumseagreen; font-size: 24px;"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Data Found</p>
    }
</div>

