@model ULDeneme.ViewModel.SozlukViewModels.UsersSozluksViewModel
@using ULDeneme.Model.Enums
@using System.Security.Claims
<form id="sozlukForm" asp-action="UsersSozluks" asp-controller="Sozluk" method="post">
    <div class="form-row row">
        <div class="form-group col-12 col-md-6 col-lg-5 pt-2">
            <select class="form-control" id="sel1" asp-for="TranslationTypeID" asp-items="@ViewBag.TranslationTypes">
                <option value="0" disabled selected>Çeviri Türü Seçiniz</option>
            </select>
            <span asp-validation-for="TranslationType" class="text-danger"></span>
        </div>
        <div class="form-group col-12 col-md-6 col-lg-5 pt-2">
            <select class="form-control" asp-for="ThemeID" id="sozlukTheme">
                <option value="0" disabled selected>Tema Seçiniz</option>
                @foreach (var item in Enum.GetValues(typeof(Theme)))
                {
                    <option value="@((int)item)">@item</option>
                }
            </select>
            <span asp-validation-for="ThemeID" class="text-danger"></span>
        </div>
        <div class="form-group col-12 col-md-12 col-lg-2 pt-2">
            <input type="hidden" asp-for="UserID" value="@User.FindFirst(ClaimTypes.NameIdentifier)?.Value" />
            <button type="submit" class="btn btn-primary w-100 d-block justify-content-center">
                Getir
            </button>
        </div>
    </div>
</form>


@if (Model.Sozluks != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Desc.</th>
                <th>Translation</th>
                <th>Theme</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Sozluks)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.TranslationType.UnknownLangShort-@item.TranslationType.KnownLangShort</td>
                    <td>@item.Theme</td>
                    <td>
                        <a class="btn" asp-action="Index" asp-controller="Vocabulary" asp-route-sozlukID="@item.ID">
                            <i class="fas fa-eye" style="color: dodgerblue; font-size: 24px;"></i>
                        </a>
                    </td>
                    <td>
                        <a class="btn" asp-action="Learn" asp-controller="QuizTest" asp-route-sozlukID="@item.ID">
                            <i class="fas fa-clipboard-list" style="color: mediumseagreen; font-size: 24px;"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>yok ki</p>
}